.submit-button {
  width: 200px;
  cursor: pointer;
  color: white;
  background-color: #f05454;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 18px;
  padding: 4px 10px 4px 10px;
}
.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.task-input {
  width: 200px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.task-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
